DATABASE_URL=sqlite:///./mincon_ti.db
# Para MariaDB: mysql+pymysql://user:password@localhost/mincon_ti
# Para PostgreSQL: postgresql://user:password@localhost/mincon_ti
SECRET_KEY=cambia-esta-clave-secreta-en-produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
